@import "variables"

$autocomplete-padding-left: 60px


hr
    margin-top: -1px
    margin-bottom: 0px

.dropdown-list
    box-shadow: 0px 1px 2px gray

.dropdown-list-item
    border: 0px
    border-radius: 0px!important
    padding-left: 60px
    font-size: $font-size-large

.text-small
    font-size: $font-size-small

.autocomplete-container
    display: grid
    position: fixed
    top: 13px
    padding-left: ($container-fluid-padding + 10px)!important
    padding-right: ($container-fluid-padding + 29px)!important

.autocomplete-input
    border-radius: 0px
    font-size: $font-size-large
    grid-row: 1
    grid-column: 1
    z-index: 0
    padding-left: $autocomplete-padding-left
    background: none!important
    border: 0px
    font-weight: bold

.autocomplete-input-placeholder
    border-radius: 0px
    font-size: $font-size-small
    line-height: 25px
    grid-row: 1
    grid-column: 1
    resize: none
    background-color: white!important
    border: 0px
    background-image: url("../icons/movie.svg")
    background-size: 25px
    background-position-x: 20px
    background-position-y: center
    background-repeat: no-repeat
    padding-left: $autocomplete-padding-left
