@import "variables"

$search-bar-height: 50px
$orange-gradient: linear-gradient(to left, red , orange)
$white-gradient: linear-gradient(to left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 100%)


.movie-icon
    filter: invert(100%)
    height: 30px
    margin-left: 5px
    margin-top: 10px
    margin-bottom: 10px

.search-icon
    height: 30px
    filter: invert(40%) sepia(79%) saturate(2476%)

.search-bar-area
    height: 90px
    background: $orange-gradient
    position: relative

.search-bar
    padding-top: 24px
    display: flex
    align-items: center

.search-bar-icon
    margin-right: 0px
    background: $white-gradient

.search-bar-input::placeholder
    color: white

.search-bar-input
    height: $search-bar-height
    background: $white-gradient!important
    font-size: $font-size-large
    color: white
    grid-row: 1
    grid-column: 1
    background: none
    border: 0px
    font-weight: bold
    padding-left: 10px

.search-bar-input:focus
    outline: none

.search-bar-button
    height: $search-bar-height
    width: $search-bar-height
    border: 0px
    background-color: white

.search-bar-button:focus
    outline: none

.search-font-small
    font-size: $font-size-small
